h5 {
    color: #5d5d5d;
    margin-bottom: -5px;
}

.container {
    max-width: 70%;
}

.jumbotron {
    margin-top: 50px;
    text-align: center;
}

.dropdown-menu {
    min-width: 100px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.solid-blocker {
    display: block;
    top: 0;
    width: 100%;
    height: 60px;
}

.product-holder {
    padding: 20px;
    text-align: center;
}

.product-image {
    text-align: center;
}
