{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% for i in range((products|length)//columns) %}
            <div class="row" style="margin-bottom: 10px;">
                {% for j in range(columns) %}
                    <div class="col-lg-{{12//columns}}" style="border: #000 1px solid;">
                        {% set item = products[i*columns+j] %}
                        <a href="details?id={{item[0]}}">{{item[1]}}<a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
