{% extends "base.html" %}
{% block content %}
<!-- Main jumbotron -->
<div class="container">
    <div class="jumbotron">
        <h1>Hello, consumer!</h1>
        <h2>Welcome to <strong>Websecure</strong></h2>
        <p>
            Websecure is an e-commerce website with a rather unusual name.
            Websecure allows you to browse its catalogue and buy the products listed therein, one at a time!
        </p>
        <p><a class="btn btn-primary btn-lg" href="/catalogue" role="button">View Products &raquo;</a></p>
    </div>
</div>
{% endblock %}
