{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br>
        <h3 align="center">Purchases</h3><br>
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
            {% for prod in products %}
                <tr>
                    <td>{{prod[0]}}</td>
                    <td>{{prod[1]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
