{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form class="form-signin" action="{{ url_for('signup') }}" method="POST">
            {% if message %}
                <p align="center">{{message}}</p>
            {% endif %}
            <h2 class="form-signin-heading" align="center">Create Account</h2><br>
            <label for="inputFname" class="sr-only">First Name</label>
            <input type="text" id="inputFname" class="form-control" placeholder="First Name" name="fname" required autofocus></input>

            <label for="inputLname" class="sr-only">Last Name</label>
            <input type="text" id="inputLname" class="form-control" placeholder="Last Name" name="lname" required>

            <label for="inputAge" class="sr-only">Age</label>
            <input type="number" id="inputAge" class="form-control" placeholder="Age" name="age" required>

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required><br>

            <input type="text" name="next" value="{{next}}" hidden="hidden">
            <button class="btn btn-lg btn-primary btn-block" type="submit">SIGN UP</button>
        </form>

        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
{% endblock %}
